# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Profiles
*.prof

# repository specific files
goNN2ST
*.png
goNN2ST.h
__pycache__
